In [68]:
import pandas as pd 
import numpy as np
ds=pd.Series(["luffy","zoro","sanji"])
print(ds)

0    luffy
1     zoro
2    sanji
dtype: object

In [4]:
feedback=[10,9,9,8,8]
sub=["python","fsd","coa","toc","dm"]
ds=pd.Series(feedback,index=sub,name="Nilesh")
print(ds)

python    10
fsd        9
coa        9
toc        8
dm         8
Name: Nilesh, dtype: int64

In [5]:
f={'python':9,'fsd':10,'coa':6,'toc':9,'dm':9}
ds=pd.Series(f)
print(ds)
print(type(ds))

python     9
fsd       10
coa        6
toc        9
dm         9
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
ds=pd.read_csv('t1.csv')
print(ds)

   Roll
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10

In [7]:
l=np.arange(1,10).reshape(3,3)
df=pd.DataFrame(l,index=['a','b','c'],columns=['python','fsd','toc'])
print(df)

   python  fsd  toc
a       1    2    3
b       4    5    6
c       7    8    9

In [16]:
l={'python':[1,2,3],'fsd':[4,5,6],'toc':[7,8,9]}
df=pd.DataFrame(l,index=['a','b','c'])
print(df)

   python  fsd  toc
a       1    4    7
b       2    5    8
c       3    6    9

In [8]:
df=pd.read_csv('t2.csv')
print(df)

   Roll  python  fsd Remarks
0     1      10    9       a
1     2      10    9       b
2     3       8    9       a
3     4      10    9       b
4     5      10   10       c
5     6      10    8       a
6     7       9    8       a
7     8      10   10       a
8     9       9   10       c
9    10      10    8       a

In [9]:
df=df.set_index('Roll')
print(df)

      python  fsd Remarks
Roll
1         10    9       a
2         10    9       b
3          8    9       a
4         10    9       b
5         10   10       c
6         10    8       a
7          9    8       a
8         10   10       a
9          9   10       c
10        10    8       a

In [10]:
print(df.dtypes)
print(df.index)
print(df.columns)
print(df.axes)
print(df.values)
print(df.shape)
print(df.size)

python      int64
fsd         int64
Remarks    object
dtype: object
Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64', name='Roll')
Index(['python', 'fsd', 'Remarks'], dtype='object')
[Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64', name='Roll'), Index(['python', 'fsd', 'Remarks'], dtype='object')]
[[10 9 'a']
 [10 9 'b']
 [8 9 'a']
 [10 9 'b']
 [10 10 'c']
 [10 8 'a']
 [9 8 'a']
 [10 10 'a']
 [9 10 'c']
 [10 8 'a']]
(10, 3)
30

In [11]:
df=pd.read_csv("auto-mpg.csv")
print(df)

      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]

In [13]:
print(df.size)
print(df.shape)

3582
(398, 9)

In [16]:
print(df.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [17]:
print(df.head(10))

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70
5  15.0          8         429.0        198    4341          10.0          70
6  14.0          8         454.0        220    4354           9.0          70
7  14.0          8         440.0        215    4312           8.5          70
8  14.0          8         455.0        225    4425          10.0          70
9  15.0          8         390.0        190    3850           8.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
5       1           ford galaxie 500
6       1           chevrolet impala
7       1          plymouth fury iii
8       1           pontiac catalina
9       1         amc ambassador dpl

In [18]:
print(df.tail())

      mpg  cylinders  displacement horsepower  weight  acceleration  \
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin         car name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [19]:
print(df.sample())

     mpg  cylinders  displacement horsepower  weight  acceleration  \
45  18.0          6         258.0        110    2962          13.5

    model year  origin                    car name
45          71       1  amc hornet sportabout (sw)

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None

In [21]:
print(df.describe())

              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

In [23]:
help(df.describe)

Help on method describe in module pandas.core.generic:

describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False) -> ~FrameOrSeries method of pandas.core.frame.DataFrame instance
    Generate descriptive statistics.

    Descriptive statistics include those that summarize the central
    tendency, dispersion and shape of a
    dataset's distribution, excluding ``NaN`` values.

    Analyzes both numeric and object series, as well
    as ``DataFrame`` column sets of mixed data types. The output
    will vary depending on what is provided. Refer to the notes
    below for more detail.

    Parameters
    ----------
    percentiles : list-like of numbers, optional
        The percentiles to include in the output. All should
        fall between 0 and 1. The default is
        ``[.25, .5, .75]``, which returns the 25th, 50th, and
        75th percentiles.
    include : 'all', list-like of dtypes or None (default), optional
        A white list of data types to include in the result. Ignored
        for ``Series``. Here are the options:

        - 'all' : All columns of the input will be included in the output.
        - A list-like of dtypes : Limits the results to the
          provided data types.
          To limit the result to numeric types submit
          ``numpy.number``. To limit it instead to object columns submit
          the ``numpy.object`` data type. Strings
          can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          select pandas categorical columns, use ``'category'``
        - None (default) : The result will include all numeric columns.
    exclude : list-like of dtypes or None (default), optional,
        A black list of data types to omit from the result. Ignored
        for ``Series``. Here are the options:

        - A list-like of dtypes : Excludes the provided data types
          from the result. To exclude numeric types submit
          ``numpy.number``. To exclude object columns submit the data
          type ``numpy.object``. Strings can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          exclude pandas categorical columns, use ``'category'``
        - None (default) : The result will exclude nothing.
    datetime_is_numeric : bool, default False
        Whether to treat datetime dtypes as numeric. This affects statistics
        calculated for the column. For DataFrame input, this also
        controls whether datetime columns are included by default.

        .. versionadded:: 1.1.0

    Returns
    -------
    Series or DataFrame
        Summary statistics of the Series or Dataframe provided.

    See Also
    --------
    DataFrame.count: Count number of non-NA/null observations.
    DataFrame.max: Maximum of the values in the object.
    DataFrame.min: Minimum of the values in the object.
    DataFrame.mean: Mean of the values.
    DataFrame.std: Standard deviation of the observations.
    DataFrame.select_dtypes: Subset of a DataFrame including/excluding
        columns based on their dtype.

    Notes
    -----
    For numeric data, the result's index will include ``count``,
    ``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
    upper percentiles. By default the lower percentile is ``25`` and the
    upper percentile is ``75``. The ``50`` percentile is the
    same as the median.

    For object data (e.g. strings or timestamps), the result's index
    will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
    is the most common value. The ``freq`` is the most common value's
    frequency. Timestamps also include the ``first`` and ``last`` items.

    If multiple object values have the highest count, then the
    ``count`` and ``top`` results will be arbitrarily chosen from
    among those with the highest count.

    For mixed data types provided via a ``DataFrame``, the default is to
    return only an analysis of numeric columns. If the dataframe consists
    only of object and categorical data without any numeric columns, the
    default is to return an analysis of both the object and categorical
    columns. If ``include='all'`` is provided as an option, the result
    will include a union of attributes of each type.

    The `include` and `exclude` parameters can be used to limit
    which columns in a ``DataFrame`` are analyzed for the output.
    The parameters are ignored when analyzing a ``Series``.

    Examples
    --------
    Describing a numeric ``Series``.

    >>> s = pd.Series([1, 2, 3])
    >>> s.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    dtype: float64

    Describing a categorical ``Series``.

    >>> s = pd.Series(['a', 'a', 'b', 'c'])
    >>> s.describe()
    count     4
    unique    3
    top       a
    freq      2
    dtype: object

    Describing a timestamp ``Series``.

    >>> s = pd.Series([
    ...   np.datetime64("2000-01-01"),
    ...   np.datetime64("2010-01-01"),
    ...   np.datetime64("2010-01-01")
    ... ])
    >>> s.describe(datetime_is_numeric=True)
    count                      3
    mean     2006-09-01 08:00:00
    min      2000-01-01 00:00:00
    25%      2004-12-31 12:00:00
    50%      2010-01-01 00:00:00
    75%      2010-01-01 00:00:00
    max      2010-01-01 00:00:00
    dtype: object

    Describing a ``DataFrame``. By default only numeric fields
    are returned.

    >>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
    ...                    'numeric': [1, 2, 3],
    ...                    'object': ['a', 'b', 'c']
    ...                   })
    >>> df.describe()
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Describing all columns of a ``DataFrame`` regardless of data type.

    >>> df.describe(include='all')  # doctest: +SKIP
           categorical  numeric object
    count            3      3.0      3
    unique           3      NaN      3
    top              f      NaN      a
    freq             1      NaN      1
    mean           NaN      2.0    NaN
    std            NaN      1.0    NaN
    min            NaN      1.0    NaN
    25%            NaN      1.5    NaN
    50%            NaN      2.0    NaN
    75%            NaN      2.5    NaN
    max            NaN      3.0    NaN

    Describing a column from a ``DataFrame`` by accessing it as
    an attribute.

    >>> df.numeric.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    Name: numeric, dtype: float64

    Including only numeric columns in a ``DataFrame`` description.

    >>> df.describe(include=[np.number])
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Including only string columns in a ``DataFrame`` description.

    >>> df.describe(include=[object])  # doctest: +SKIP
           object
    count       3
    unique      3
    top         a
    freq        1

    Including only categorical columns from a ``DataFrame`` description.

    >>> df.describe(include=['category'])
           categorical
    count            3
    unique           3
    top              f
    freq             1

    Excluding numeric columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[np.number])  # doctest: +SKIP
           categorical object
    count            3      3
    unique           3      3
    top              f      a
    freq             1      1

    Excluding object columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[object])  # doctest: +SKIP
           categorical  numeric
    count            3      3.0
    unique           3      NaN
    top              f      NaN
    freq             1      NaN
    mean           NaN      2.0
    std            NaN      1.0
    min            NaN      1.0
    25%            NaN      1.5
    50%            NaN      2.0
    75%            NaN      2.5
    max            NaN      3.0

In [28]:
print(df.describe(percentiles=[0.3,0.6],include='all'))

               mpg   cylinders  displacement horsepower       weight  \
count   398.000000  398.000000    398.000000        398   398.000000
unique         NaN         NaN           NaN         94          NaN
top            NaN         NaN           NaN        150          NaN
freq           NaN         NaN           NaN         22          NaN
mean     23.514573    5.454774    193.425879        NaN  2970.424623
std       7.815984    1.701004    104.269838        NaN   846.841774
min       9.000000    3.000000     68.000000        NaN  1613.000000
30%      18.000000    4.000000    112.000000        NaN  2301.000000
50%      23.000000    4.000000    148.500000        NaN  2803.500000
60%      25.000000    6.000000    200.000000        NaN  3085.200000
max      46.600000    8.000000    455.000000        NaN  5140.000000

        acceleration  model year      origin    car name
count     398.000000  398.000000  398.000000         398
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.568090   76.010050    1.572864         NaN
std         2.757689    3.697627    0.802055         NaN
min         8.000000   70.000000    1.000000         NaN
30%        14.200000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
60%        16.000000   77.000000    1.000000         NaN
max        24.800000   82.000000    3.000000         NaN

In [29]:
print(df.describe(exclude=np.number)) # for categorial data

       horsepower    car name
count         398         398
unique         94         305
top           150  ford pinto
freq           22           6

In [30]:
print(df.describe(include=np.number)) # for numerical data

              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

In [37]:
d={'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]}
x=pd.DataFrame(d,index=['p','q','r'])
print(x)

   a  b  c
p  1  4  7
q  2  5  8
r  3  6  9

In [38]:
x.iloc[0]

a    1
b    4
c    7
Name: p, dtype: int64

In [42]:
print(x.iloc[2])

a    3
b    6
c    9
Name: r, dtype: int64

In [43]:
print(type(x.iloc[0]))

<class 'pandas.core.series.Series'>

In [44]:
x.iloc[1,1]

5

In [63]:
for i in range(3):
    for j in range(3):
        if (i+j)%2==0:
            print(x.iloc[i,j])

1
7
5
3
9

In [46]:
x.iloc[[0,2],[0,2]]

   a  c
p  1  7
r  3  9

In [49]:
x['a']

p    1
q    2
r    3
Name: a, dtype: int64

In [52]:
x[x['a']%2!=0]

   a  b  c
p  1  4  7
r  3  6  9

In [56]:
print(x[x['a']%2!=0])

   a  b  c
p  1  4  7
r  3  6  9

In [54]:
x[(x['a'] % 2 != 0) & (x['c'] % 3 == 0)]

   a  b  c
r  3  6  9

In [59]:
x.loc[:,'a':'c']

   a  b  c
p  1  4  7
q  2  5  8
r  3  6  9

In [60]:
x.loc[['p','r'],['a','c']]

   a  c
p  1  7
r  3  9

In [66]:
print(df.isna().sum())

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [75]:
y=pd.DataFrame([[np.nan,4,5,6,7,],[5,np.nan,7,9,10],[3,np.nan,8,9,10],[5,np.nan,7,9,10],[3,4,5,6,np.nan]],columns=['a','b','c','d','e'])
print(y)

     a    b  c  d     e
0  NaN  4.0  5  6   7.0
1  5.0  NaN  7  9  10.0
2  3.0  NaN  8  9  10.0
3  5.0  NaN  7  9  10.0
4  3.0  4.0  5  6   NaN

In [76]:
print(y.isna().sum())

a    1
b    3
c    0
d    0
e    1
dtype: int64

In [80]:
z=y.fillna(25)

In [81]:
print(z)

      a     b  c  d     e
0  25.0   4.0  5  6   7.0
1   5.0  25.0  7  9  10.0
2   3.0  25.0  8  9  10.0
3   5.0  25.0  7  9  10.0
4   3.0   4.0  5  6  25.0

In [83]:
y.fillna(y.mean())

     a    b  c  d      e
0  4.0  4.0  5  6   7.00
1  5.0  4.0  7  9  10.00
2  3.0  4.0  8  9  10.00
3  5.0  4.0  7  9  10.00
4  3.0  4.0  5  6   9.25

In [93]:
y['a']=y['a'].fillna(y['a'].mean())
y['b']=y['b'].fillna(y['b'].mean())
y['e']=y['e'].fillna(y['e'].mean())

In [91]:
print(y)

     a    b  c  d      e
0  4.0  4.0  5  6   7.00
1  5.0  4.0  7  9  10.00
2  3.0  4.0  8  9  10.00
3  5.0  4.0  7  9  10.00
4  3.0  4.0  5  6   9.25

In [109]:
y=pd.DataFrame([[np.nan,4,5,6,7,],[5,np.nan,7,9,10],[3,np.nan,np.nan,9,10],[5,np.nan,7,9,10],[3,4,5,6,np.nan]],columns=['a','b','c','d','e'])
print(y)
print(y.dropna())

     a    b    c  d     e
0  NaN  4.0  5.0  6   7.0
1  5.0  NaN  7.0  9  10.0
2  3.0  NaN  NaN  9  10.0
3  5.0  NaN  7.0  9  10.0
4  3.0  4.0  5.0  6   NaN
Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [100]:
print(y.dropna())

   a    b  c  d    e
0  1  4.0  5  6  7.0

In [101]:
print(y.dropna(axis=0))

   a    b  c  d    e
0  1  4.0  5  6  7.0

In [102]:
print(y.dropna(axis=1))

   a  c  d
0  1  5  6
1  5  7  9
2  3  8  9
3  5  7  9
4  3  5  6

In [110]:
print(y.dropna(subset=['a','c']))

     a    b    c  d     e
1  5.0  NaN  7.0  9  10.0
3  5.0  NaN  7.0  9  10.0
4  3.0  4.0  5.0  6   NaN

In [111]:
print(y.dropna(how='any',axis=0))

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [113]:
print(y.dropna(how='all'))

     a    b    c  d     e
0  NaN  4.0  5.0  6   7.0
1  5.0  NaN  7.0  9  10.0
2  3.0  NaN  NaN  9  10.0
3  5.0  NaN  7.0  9  10.0
4  3.0  4.0  5.0  6   NaN

In [114]:
print(y.dropna(thresh=3))

     a    b    c  d     e
0  NaN  4.0  5.0  6   7.0
1  5.0  NaN  7.0  9  10.0
2  3.0  NaN  NaN  9  10.0
3  5.0  NaN  7.0  9  10.0
4  3.0  4.0  5.0  6   NaN

In [115]:
print(y.dropna(thresh=4))

     a    b    c  d     e
0  NaN  4.0  5.0  6   7.0
1  5.0  NaN  7.0  9  10.0
3  5.0  NaN  7.0  9  10.0
4  3.0  4.0  5.0  6   NaN