In [1]:
import pandas as pd 
import requests 
from bs4 import  BeautifulSoup
import numpy as np

In [2]:
with open("IPL Auction.html", "r", encoding = "utf-8") as f:
    data = f.read()

In [3]:
soup = BeautifulSoup(data)
# soup

In [9]:
columns = soup.findAll("tr", {"class" : "ih-pt-tbl"} )[0].text.split("\n")
header = []
for i in columns:
    if i != '':
        header.append(i.strip())
header

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS', 'TOTAL PLAYERS']

In [11]:
data = {}
for i in range(len(header)):
    data[header[i]] = []
data

{'TEAM': [],
 'FUNDS REMAINING': [],
 'OVERSEAS PLAYERS': [],
 'TOTAL PLAYERS': []}

In [13]:
tableData = soup.find("tbody")
# tableData
for i in tableData.findAll("tr"):
    h = i.findAll("td")
    for j in range(len(h)):
        if j == 0:
            data["TEAM"].append(h[j].text.strip())
        if j == 1:
            data["FUNDS REMAINING"].append(h[j].text)
        if j == 2:
            data["OVERSEAS PLAYERS"].append(h[j].text)
        if j == 3:
            data["TOTAL PLAYERS"].append(h[j].text)

In [15]:
data
df = pd.DataFrame(data)
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                8            25
1               Delhi Capitals      ₹10,00,000                7            24
2               Gujarat Titans      ₹15,00,000                8            23
3        Kolkata Knight Riders      ₹45,00,000                8            25
4         Lucknow Super Giants              ₹0                7            21
5               Mumbai Indians      ₹10,00,000                8            25
6                 Punjab Kings    ₹3,45,00,000                7            25
7             Rajasthan Royals      ₹95,00,000                8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                8            22
9          Sunrisers Hyderabad      ₹10,00,000                8            23

In [17]:
df.isna().sum()

TEAM                0
FUNDS REMAINING     0
OVERSEAS PLAYERS    0
TOTAL PLAYERS       0
dtype: int64

In [19]:
x = df[["OVERSEAS PLAYERS"]]
y = df["TOTAL PLAYERS"]

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [22]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
m = lr.coef_
print(m)
c = lr.intercept_ # Intercept
print(c)

[-1.14285714]
33.0

In [25]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print(mse)

8.5